@font-face {
    font-family: Bebas;
    src: url("../fonts/BebasNeue.otf");
}

body, html
{
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333333;
    font-family: 'Helvetica Neue';
    font-weight: 200;
}

.container
{
    background: url("../images/bg.jpg") no-repeat center top fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    min-height: 100%;
    width: 100%;
    text-align: center;
}

.no-bg
{
    background: none;
}

#header_splash
{
    font-weight: 100;
    color: #F2F2F2;
    text-align: center;
    font-size: 3em;
    padding-top: 10%;
}

#logo_splash
{
    width: 80%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#slogan_splash
{
    color: white;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 70px;
}

.button
{
    text-decoration: none;
    border: 1px solid white;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    padding-top: 10px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 200;
}

.full_blue
{
    background-color: #2980B9;
    color: #F2F2F2;
    border: 2px solid #2980B9;
}

.ghost_blue
{
    border: 2px solid #2980B9;
    color: #F2F2F2;
}

footer
{
    color: #F2F2F2;
    font-size: .7em;
    font-weight: 100;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    bottom: 10px;
    
}

header
{
    background-color: rgba(242, 242, 242, .85);
    padding-bottom: 15px;
}

header img
{
    width: 30%;
    padding-top: 15px;
}

.btn_back
{
    width: 45px;
    position: absolute;
    left: 8%;
    top: 5px;
}

.form
{
    margin-top: 75px;
}

.form input
{
    border: none;
    background-color: rgba(242, 242, 242, .8);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 500px;
    height: auto;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 10px 15px;
}

::-webkit-input-placeholder
{
    color: rgba(128, 128, 128, 1);
    font-style: italic;
    font-size: 0.9em;
    font-weight: 100;
}

:-moz-placeholder
{
    color: rgba(128, 128, 128, 1);
    font-style: italic;
    font-size: 0.9em;
    font-weight: 100;
}

::-moz-placeholder
{
    color: rgba(128, 128, 128, 1);
    font-style: italic;
    font-size: 0.9em;
    font-weight: 100;
}

:-ms-input-placeholder
{  
    color: rgba(128, 128, 128, 1);
    font-style: italic;
    font-size: 0.9em;
    font-weight: 100;
}

#login_screen_button
{
    margin-top: 40px;
    text-decoration: none;
    border: 1px solid white;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-top: 10px;
    border-radius: 3px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 100;
    background-color: #2980B9;
    color: #F2F2F2;
    border: 2px solid #2980B9;
    -webkit-appearance: none;
}

input.radio_btn
{
    display: inline;
    width: auto;
}

.label_radio_button
{
    color: #F2F2F2;
    margin-left: 10px;
}

.container_radio
{
    text-align: left;
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    vertical-align: middle;
}

#logged-in-header
{
    background-color: #F2F2F2;
    height: 40px;
}

.btn_nav
{
    width: 25px;
    position: absolute;
    left: 8%;
}

.btn_search
{
    width: 30px;
    position: absolute;
    right: 8%;
    top: 0;
}

.btn_detail
{
    width: 30px;
    margin-top: 60px;
    margin-right: 10px;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.header_h
{
    font-family: Bebas;
    font-size: 2.2em;
    padding-top: 10px;
    color: #2980B9;
}

.tour_preview
{
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 3px;
}

.content_tour_preview
{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    color: #F2F2F2;
    text-align: left;
    padding-left: 8%;
}

.content_tour_preview h3
{
    font-size: 1.7em;
    margin-top: 25px;
}

.content_tour_preview .detail
{
    font-size: 0.9em;
    color: #CCCCCC;
    font-style: italic;
}

.content_tour_preview .price
{
    margin-top: 30px;
    font-size: 1.5em;
}

.endOfFile
{
    height: 5px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(242,242,242,0) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,0)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(242,242,242,0) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(242,242,242,0) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(242,242,242,0) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(242,242,242,0) 0%,rgba(242,242,242,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2f2f2', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
}