body, html
{
    margin: 0;
    height: 100%;
    color: #333333;
    font-family: 'Helvetica Neue';
}

.container
{
    background: url("../images/bg.jpg") no-repeat center top fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    min-height: 100%;
    width: 100%;
    text-align: center;
}

#header_splash
{
    font-weight: 100;
    color: #F2F2F2;
    text-align: center;
    font-size: 3em;
    padding-top: 10%;
}

#logo_splash
{
    width: 80%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#slogan_splash
{
    color: white;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 70px;
}

.button
{
    text-decoration: none;
    border: 1px solid white;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    padding-top: 10px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 200;
}

.full_blue
{
    background-color: #2980B9;
    color: #F2F2F2;
    border: 2px solid #2980B9;
}

.ghost_blue
{
    border: 2px solid #2980B9;
    color: #F2F2F2;
}

footer
{
    color: #F2F2F2;
    font-size: .7em;
    font-weight: 100;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    bottom: 10px;
    
}

header
{
    background-color: rgba(242, 242, 242, .85);
    padding-bottom: 15px;
}

header img
{
    width: 30%;
    padding-top: 15px;
}

.btn_back
{
    width: 45px;
    position: absolute;
    left: 8%;
    top: 5px;
}

.form
{
    margin-top: 75px;
}

.form input
{
    border: none;
    background-color: rgba(242, 242, 242, .8);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 500px;
    height: auto;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 15px 5px
}

::-webkit-input-placeholder
{
    color: rgba(128, 128, 128, 0.5);
    font-style: italic;
    font-size: 0.9em;
    font-weight: 100;
}

:-moz-placeholder
{
    color: rgba(128, 128, 128, 0.5);
    font-style: italic;
    font-size: 0.9em;
    font-weight: 100;
}

::-moz-placeholder
{
    color: rgba(128, 128, 128, 0.5);
    font-style: italic;
    font-size: 0.9em;
    font-weight: 100;
}

:-ms-input-placeholder
{  
    color: rgba(128, 128, 128, 0.5);
    font-style: italic;
    font-size: 0.9em;
    font-weight: 100;
}

#login_screen_button
{
    margin-top: 40px;
    text-decoration: none;
    border: 1px solid white;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-top: 10px;
    border-radius: 3px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 100;
    background-color: #2980B9;
    color: #F2F2F2;
    border: 2px solid #2980B9;
    -webkit-appearance: none;
}

input.radio_btn
{
    display: inline;
    width: auto;
}

.label_radio_button
{
    color: #F2F2F2;
    margin-left: 10px;
}

.container_radio
{
    text-align: left;
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    vertical-align: middle;
}